h2, 
p {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

.para {
    width: fit-content(10vw);
    background-color: lightcoral;
}

h2 {
    margin-top: 30px;
    background-color: grey;
    font-size: clamp(20px, 5vw, 60px);
}

h2, .para {
    padding: 20px;
}

.parent {
    padding: 30px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 3px;
    background-color: blueviolet;

    & .child {
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }
}

.container {
    padding: 10px;
    margin: 10px 0;
    width: fit-content;
    background-color: firebrick;
 
  & .three {
        color: white;
        background-color: red;
    } 

    & .first {
        background-color: yellow;
    }

    & .second {
        color: white;
        width: fit-content;
        background-color: orangered;
    }
}

